.carrusel_img {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
    /*border: 1px solid black;*/
}

.carrusel-container-img{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-item02 {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carrusel-item02:not(.active) {
    opacity: 0.5;
}

.carrusel-item02{
    width: 100%;
    border-radius: 10px;
}

.boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /*Color del boton*/
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.boton-prev {
    left: 20px;
}

.boton-next {
    right: 10px;
}

.container_items_carrusel{
    width: 100%; /*90%*/
    height: 620px;
    /*margin: auto;*/
}

.con1{
    background: red;
}

.con2{
    background: blue;
}

.con3{
    background: yellow;
}